@import "tailwindcss";

@font-face {
  font-family: 'folklore';
  src: url('./assets/fonts/FePIit2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-folklore: 'folklore', sans-serif;
  --color-lily-green: #7CCB5A;
  --color-forest-green: #4F8F3A;
  --color-mint-green: #B8E986;
  --color-warm-yellow: #F7D154;
  --color-cream: #FFF4DC;
  --color-soft-brown: #8A5A3B;
  --color-soft-pink: #F6B5C8;
  --color-charcoal: #3B3B3B;
}

html, body {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;             
}
.swal2-popup,
.swal2-title {
  font-family: 'Folklore', sans-serif !important;
}
html {
  scroll-behavior: smooth;
}
